<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>BaseMana</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.5/themes/qinghe/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/vanguard8.js"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
        }
        $(function () {
            $('#tableList').datagrid({
                url: '/base/getList?bsId=' + [[${bsId}]],
                pagination: true,
                pageSize: 20,
                pageList: [20, 30, 40, 50],
                singleSelect: true,
                fit: true,
                fitColumns: true,
                toolbar: '#divToolBar'
            });

            var data = $('#comboSrh').combobox('getData');
            if (data.length > 0) {
                $('#comboSrh').combobox('select', data[0].value);
            }

            $('#formPlay').form({
                url: '/base/save',
                success: function (result) {
                    result = $.parseJSON(result);
                    if (result != null && result.success) {
                        var flag = $('#PlayFlag').val();
                        //新增的话则成功一条可继续下一条，不关闭操作窗口
                        //编辑与删除成功后均关闭窗口
                        if (flag == "1") {
                            $.messager.alert("新增成功", result.message);
                            SetValue(1, null);
                        } else if (flag == '2') {
                            $.messager.alert("编辑成功", result.message);
                        } else {
                            ClosePlayWindow();
                        }
                        $('#tableList').datagrid('reload');
                    }
                    else {
                        $.messager.alert("操作失败", result.message);
                    }
                }
            });
        });

        function LoadGridData() {
            $('#tableList').datagrid('load', {
                paramName: $('#comboSrh').combobox('getValue'),
                paramValue: $('#inputSrh').val()
            });
        }

        function ShowPlayWindow(stitle) {
            var height = $(document).height();
            var showHeight = [[${showHeight}]];
            if (showHeight > height) {
                showHeight = height;
            }

            var width = $(document).width();
            var showWidth = [[${showWidth}]];
            if (showWidth > width) {
                showWidth = width;
            }
            if (showWidth < 400) {
                showWidth = 400;
            }
            $('#divPlay').show().window({
                width: showWidth,
                height: showHeight,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                resizable: false,
                title: stitle,
                modal: true
            });
        }

        function Add() {
            ShowPlayWindow('新增');
            $('#PlayFlag').val("1");
            SetValue(1, null);
        }

        function SetValue(flag, row) {
            var details = [[${details}]];
            for (var i = 0; i < details.length; i++) {
                if (flag == 1) { //新增
                    $('#keyValue').val('');
                    if (details[i].controlTypeId == 1 || details[i].controlTypeId == 5) {
                        if (details[i].defaultValue != null) {
                            $('#' + details[i].fieldCode).textbox('setValue', details[i].defaultValue);
                        } else {
                            $('#' + details[i].fieldCode).textbox('setValue', '');
                        }
                    }
                    else if (details[i].controlTypeId == 2) {
                        if(details[i].chainFlag==1){
                            $('#' + details[i].fieldCode).combobox('clear');
                        }
                        if (details[i].defaultValue != null) {
                            $('#' + details[i].fieldCode).combobox('select', details[i].defaultValue);
                        } else {
                            $('#' + details[i].fieldCode).combobox('select', '');
                        }
                    }
                    else if (details[i].controlTypeId == 3) {
                        $('#' + details[i].fieldCode).datebox('setValue', GetCurrDate());
                    }
                    else if (details[i].controlTypeId == 4) {
                        $('#' + details[i].fieldCode).datetimebox('setValue', GetCurrDate() + ' 00:00:00');
                    }
                    else if (details[i].controlTypeId == 6 || details[i].controlTypeId == 7) {
                        if (details[i].defaultValue == null || details[i].defaultValue == '') {
                            $('#' + details[i].fieldCode).numberspinner('setValue', 0);
                        }
                        else {
                            $('#' + details[i].fieldCode).numberspinner('setValue', details[i].defaultValue);
                        }
                    }
                } else {  //修改与删除
                    //设置主键值
                    var keyField = [[${keyField}]];
                    if(keyField==""||row[keyField]==null||row[keyField]==""){
                        alert("主键不允许为空，且必须在数据表格中体现，请在基础模板设置中进行修改！");
                        return;
                    }
                    $('#keyValue').val(row[keyField]);
                    if (details[i].controlTypeId == 1 || details[i].controlTypeId == 5) {
                        $('#' + details[i].fieldCode).textbox('setValue', row[details[i].fieldCode]);
                    }
                    else if (details[i].controlTypeId == 2) {
                        $('#' + details[i].fieldCode).combobox('select', row[details[i].fieldCode]);
                    }
                    else if (details[i].controlTypeId == 3) {
                        $('#' + details[i].fieldCode).datebox('setValue', row[details[i].fieldCode]);
                    }
                    else if (details[i].controlTypeId == 4) {
                        $('#' + details[i].fieldCode).datetimebox('setValue', row[details[i].fieldCode]);
                    }
                    else if (details[i].controlTypeId == 6 || details[i].controlTypeId == 7) {
                        $('#' + details[i].fieldCode).numberspinner('setValue', row[details[i].fieldCode]);
                    }
                }
            }
        }

        function Edit() {
            var row = $('#tableList').datagrid('getSelected');
            if (row) {
                ShowPlayWindow('编辑');
                $('#PlayFlag').val("2");
                SetValue(2, row);
            }
            else {
                $.messager.alert("操作失败", "未选择要编辑的数据行！");
            }
        }

        function Delete() {
            var row = $('#tableList').datagrid('getSelected');
            if (row) {
                $('#PlayFlag').val("3");
                ShowPlayWindow('删除');
                SetValue(3, row);
            }
            else {
                $.messager.alert("操作失败", "未选择要删除的数据行！");
            }
        }

        function ClosePlayWindow() {
            $('#divPlay').window('close');
        }

        function getComboboxUrl(chainFlag,url){
            var r = "";
            if(chainFlag==0){
                r = url;
            }
            return r;
        }

        function loadFilter(data,nullFlag){
            if(nullFlag==1) {
                var item = {"id": "", "text": "-"};
                data.unshift(item);
            }
            return data;
        }

        function setupCombobox(record, detailId) {
            var details = [[${details}]];
            for (var i = 0; i < details.length; i++) {
                var detail = details[i];
                if (detail.detailId == detailId) {
                    var comboboxList = detail.comboboxList;
                    for (var j = 0; j < comboboxList.length; j++) {
                        var controlId = '#' + comboboxList[j].fieldCode;
                        $(controlId).combobox({
                            url: comboboxList[j].refString+'&condition='+record.id,
                            editable: false,
                            valueField: comboboxList[j].refIdStr,
                            textField: comboboxList[j].refTextStr,
                            onLoadSuccess: function () {
                                if($('#PlayFlag').val()==1) {
                                    var data = $(controlId).combobox('getData');
                                    if (data.length > 0) {
                                        $(controlId).combobox('select', data[0].id);
                                    }
                                }
                            }
                        });
                        break;
                    }
                }
            }
        }
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'center'" style="overflow:hidden;border:none;padding:8px 8px 2px 8px">
    <div id="divToolBar" style="height: 60px">
        <table style="border: 0">
            <tr>
                <td>
                    <input type="button" value="新增" onclick="Add();"/>
                    <input type="button" value="编辑" onclick="Edit();"/>
                    <input type="button" value="删除" onclick="Delete();"/></td>
            </tr>
            <tr>
                <td>查询字段
                    <select id="comboSrh" class="easyui-combobox" style="width:200px"
                            data-options="panelHeight:'auto',editable:false">
                        <option th:each="detail:${details}" th:if="${detail.searchFlag eq 1}"
                                th:value="${detail.fieldCode}"
                                th:text="${detail.fieldName}">
                            fieldName
                        </option>
                    </select>
                    查询内容
                    <input id="inputSrh" type="text"/>
                    <input type="button" value="查询" onclick="LoadGridData();"/></td>
            </tr>
        </table>
    </div>
    <table id="tableList">
        <thead>
        <tr>
            <th th:each="detail:${details}" th:if="${detail.showFlag eq 1}"
                th:attr="data-options=|field:'${detail.fieldCode}',width:${detail.showWidth},sortable:true|"
                th:text="${detail.fieldName}">列标题
            </th>
        </tr>
        </thead>
    </table>
    <div id="divPlay" style="display: none;">
        <div id="divPlayLayout" class="easyui-layout" data-options="fit:true">
            <form id="formPlay" method="post">
                <input id="PlayFlag" name="PlayFlag" type="hidden"/>
                <input id="bsId" name="bsId" th:value="${bsId}" type="hidden"/>
                <input id="keyValue" name="keyValue" type="hidden" />
                <div data-options="region:'center',split:false,border:false">
                    <table style="border:0px">
                        <tr height="10px">
                            <td colspan="2"></td>
                        </tr>
                        <tr th:each="detail:${details}" th:height="${detail.showHeight}"
                            th:if="${detail.editFlag eq 1 && detail.controlTypeId ne 0}">
                            <td th:text="${detail.fieldName}" width="100px" style="text-align: right"
                                th:style="${detail.nullFlag eq 0}?'text-align:right;color:#FF0000':'text-align:right'">
                                字段名称
                            </td>
                            <td style="text-align: left">
                                <input th:if="${detail.controlTypeId eq 1}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       th:class="easyui-textbox"
                                       th:attr="style=|width:${detail.showWidth}px|,data-options=|required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 2}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       th:class="easyui-combobox"
                                       th:attr="style=|width:${detail.showWidth}px|,
                                                data-options=|editable: false,required:${detail.nullFlag eq 0},url:getComboboxUrl('${detail.chainFlag}','${detail.refString}'),
                                                valueField:'${detail.refIdStr}',textField:'${detail.refTextStr}',
                                                loadFilter:function(data){return loadFilter(data,${detail.nullFlag});},
                                                onSelect:function(record){setupCombobox(record,'${detail.detailId}');}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 3}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       class="easyui-datebox"
                                       th:attr="style=|width:${detail.showWidth}px|,data-options=|required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 4}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       class="easyui-datetimebox"
                                       th:attr="style=|width:${detail.showWidth}px|,data-options=|required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 5}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       class="easyui-textbox"
                                       th:attr="style=|width:${detail.showWidth}px;height:${detail.showHeight-10}px|,data-options=|multiline:true,required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 6}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       class="easyui-numberspinner"
                                       th:attr="style=|width:${detail.showWidth}px;height:${detail.showHeight-10}px|,
                                       data-options=|precision:0,required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <input th:if="${detail.controlTypeId eq 7}"
                                       th:id="${detail.fieldCode}"
                                       th:name="${detail.fieldType}+'#'+${detail.repeatFlag}+'#'+${detail.fieldCode}+'#'+${detail.saveFlag}"
                                       class="easyui-numberspinner"
                                       th:attr="style=|width:${detail.showWidth}px;height:${detail.showHeight-10}px|,
                                       data-options=|precision:2,prefix:'￥',required:${detail.nullFlag eq 0}|"
                                       th:readonly="${detail.readonlyFlag eq 1}?'readonly':'false'"
                                />
                                <span th:if="${detail.repeatFlag ne 1}" style="color:#FF0000">(*)</span>
                            </td>
                        </tr>
                    </table>
                    <table style="border:0px">
                        <tr>
                            <td width="100px"></td>
                            <td>红色代表必填项；(*)代表不可重复项</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: left">
                                <input type="submit" value="提交" style="width: 80px"/>
                                <input type="button" value="关闭" style="width: 80px" onclick="ClosePlayWindow();"/></td>
                        </tr>
                        <tr style="height:30px">
                            <td></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
