<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserView</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.5/themes/qinghe/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/static/js/vanguard8.js"></script>
    <script type="text/javascript">
        $(function () {

            var map = {
                'userId':'user_id',
                'userName':'user_name',
                'loginName':'login_name',
                'dsTotalName':'ds_total_name',
                'workNo':'work_no',
                'BussDeptName':'dept_name',
                'flagName':'flag_name'
            };
            onSortColumn=function(param, map){
                //取出map中字段的映射关系值
                var fieldSort=map[param.sort];
                if(fieldSort!='' && fieldSort!=undefined){
                    //设置新的排序字段名，设置完之后，发送请求时一并会发送到服务端
                    param.sort=fieldSort;
                }
            };

            $('#GridUserList').datagrid({
                onBeforeLoad:function(param){
                    onSortColumn(param,map);
                },
                url: '/user/getUsers',
                pagination: true,
                pageSize: 20,
                pageList: [20, 30, 40, 50],
                singleSelect: true,
                fit: true,
                fitColumns: true,
                toolbar: '#divToolbar',
                columns: [ [
                    { field: 'userId', title: '用户编码', width: 100, sortable: true },
                    { field: 'userName', title: '用户姓名', width: 100, sortable: true },
                    { field: 'loginName', title: '登录账号', width: 100, sortable: true },
                    { field: 'dsId', title: '所属岗位编码', width: 160, sortable: false, hidden: true,
                        formatter:function(val,row){
                            if(val) {
                                return val.dsId;
                            } else {
                                return "";
                            }
                        }
                    },
                    { field: 'dsTotalName', title: '所属岗位(或职位)', width: 160, sortable: true,
                        formatter:function(val,row){
                            if(row) {
                                return row.deptsta.dsTotalName;
                            } else {
                                return "";
                            }
                        }
                    },
                    { field: 'workNo', title: '工号', width: 160, sortable: true },
                    { field: 'BussDeptName', title: '业务权限部门', width: 160, sortable: true,
                        formatter:function(val,row){
                            if(row) {
                                return row.dept.deptName;
                            } else {
                                return "";
                            }
                        }},
                    { field: 'flagId', title: '状态编码', width: 160, sortable: false, hidden: true,
                        formatter:function(val,row){
                            if(row) {
                                return row.userFlag.flagId;
                            } else {
                                return "";
                            }
                        }
                    },
                    { field: 'flagName', title: '状态', width: 60, sortable: true,
                        formatter:function(val,row){
                            if(row) {
                                return row.userFlag.flagName;
                            } else {
                                return "";
                            }
                        }
                    }
                ] ]
            });

            $('#DSID').combobox({
                url: null,
                editable: false,
                valueField: 'id',
                textField: 'text',
                onSelect: function (record) {
                    $('#pSrhDept').val('');
                    $('#BussDeptID').combobox('clear');
                    if (record.text.substr(0, 1) == '2') {
                        $('#BussDeptID').combobox('enable');
                    }
                    else {
                        $('#BussDeptID').combobox('disable');
                    }
                }
            });

            $('#UseFlag').combobox({
                url: '/dict/getDict?flag=2',
                width: 80,
                editable: false,
                panelHeight: 'auto',
                valueField: 'id',
                textField: 'text'
            });

            $('#BussDeptID').combobox({
                url: null,
                editable: false,
                disabled: true,
                valueField: 'id',
                textField: 'text'
            });

            $('#FormPlay').form({
                url: '/user/saveUser',
                onSubmit: function (param) {
                    if ($('#DSID').combobox('getValue') == '') {
                        $.messager.alert("提交失败", "必须选择所属岗位！");
                        return false;
                    }
                    if ($('#userName').val() == '') {
                        $.messager.alert("提交失败", "必须输入用户姓名！");
                        return false;
                    }
                    if ($('#loginName').val() == '') {
                        $.messager.alert("提交失败", "必须输入登录帐号！");
                        return false;
                    }
                    if ($('#DSID').combobox('getText').substr(0, 1) == '2' && $('#BussDeptID').combobox('getValue') == '') {
                        $.messager.alert("提交失败", "选择岗位为统一职位类型，必须选择业务权限部门！");
                        return false;
                    }
                },
                success: function (result) {
                    result = $.parseJSON(result);
                    if (result && result.success) {
                        if ($('#PlayFlag').val() == 0) {
                            ShowDialogPlay(0);
                        }
                        $.messager.alert("操作成功", result.message);
                        LoadGridData();
                    }
                    else {
                        $.messager.alert("操作失败", result.message);
                    }
                }
            });
        });

        function LoadGridData() {
            $('#GridUserList').datagrid('load', { userName: $('#pUserName').val(), loginName: $('#pLoginName').val() });
        }

        function SrhStation() {
            if ($('#SrhParam').val() != '') {
                $('#DSID').combobox('clear');
                $('#DSID').combobox('reload', encodeURI(encodeURI('/dict/getDict?flag=1&condition=' + $('#SrhParam').val())));
            }
        }

        function SrhBussDept() {
            if ($('#pSrhDept').val() != '') {
                $('#BussDeptID').combobox('clear');
                $('#BussDeptID').combobox('reload', encodeURI(encodeURI('/dict/getDict?flag=3&condition=' + $('#pSrhDept').val())));
            }
        }

        function CloseDialog() {
            $('#DialogPlay').dialog('close');
        }

        function Delete() {
            var row = $('#GridUserList').treegrid('getSelected');
            if (row != null) {
                $.messager.alert("操作失败", "暂不开通删除功能！");
            }
            else {
                $.messager.alert("操作失败", "未选择要操作的数据行！");
            }
        }

        function ShowDialogPlay(playflag) {
            var iWidth = 560;
            $('#FormPlay').form('reset');
            SrhStation();
            if (playflag == 0) {
                $('#DialogPlay').show().dialog({
                    title: '新增',
                    width: iWidth,
                    modal: true
                });
                $('#PlayFlag').val('0');
                $('#UseFlag').combobox('setValue', '1');
            }
            else {
                var row = $('#GridUserList').treegrid('getSelected');
                if (row != null) {
                    $('#DialogPlay').show().dialog({
                        title: '编辑',
                        width: iWidth,
                        modal: true
                    });
                    $('#PlayFlag').val('1');
                    $('#userId').val(row.userId);
                    $('#DSID').combobox('setValue', row.deptsta.dsId);
                    $('#DSID').combobox('setText', row.deptsta.dsTotalName);
                    if (row.deptsta.dsTotalName.substr(0, 1) == '2') {
                        $('#BussDeptID').combobox('enable');
                    }
                    else {
                        $('#BussDeptID').combobox('disable');
                    }
                    $('#userName').val(row.userName);
                    $('#loginName').val(row.loginName);
                    $('#WorkNO').val(row.workNo);
                    $('#PwdFlag').prop('checked', false);
                    $('#UseFlag').combobox('setValue', row.userFlag.flagId);
                    $('#BussDeptID').combobox('setValue', row.dept.deptId);
                    $('#BussDeptID').combobox('setText', row.dept.deptName);
                }
                else {
                    $.messager.alert("操作失败", "未选择要操作的数据行！");
                }
            }
        }
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'center'" style="overflow:hidden;border:none;padding:8px 8px 2px 8px">
    <table id="GridUserList">
    </table>
    <div id="divToolbar">
        <table style="border: 0">
            <tr>
                <td>
                    <input type="button" value="新增" onclick="ShowDialogPlay(0);" />
                    <input type="button" value="编辑" onclick="ShowDialogPlay(1);" />
                 </td>
            </tr>
            <tr>
                <td>用户姓名<input id="pUserName" name="pUserName" type="text" />
                    登录账号<input id="pLoginName" name="pLoginName" type="text" />
                    <input type="button" value="查询" onclick="LoadGridData();" /></td>
            </tr>
        </table>
    </div>
    <div id="DialogPlay" style="display: none">
        <form id="FormPlay" method="post">
            <input id="PlayFlag" name="PlayFlag" type="hidden" />
            <table style="width: 100%">
                <tr style="height: 30px">
                    <td>用户编码
                    </td>
                    <td colspan="3">
                        <input id="userId" name="userId" class="easyui-validatebox" readonly="readonly" value="自动生成" /></td>
                </tr>
                <tr style="height: 30px">
                    <td style="color:red">所属岗位</td>
                    <td colspan="3" style="vertical-align: middle">
                        <input id="SrhParam" name="SrhParam" style="width: 80px" onblur="SrhStation();" />
                        <input id="DSID" name="DSID" style="width: 220px" />
                    </td>
                </tr>
                <tr style="height: 30px">
                    <td style="color:red">用户姓名</td>
                    <td>
                        <input id="userName" name="userName" class="easyui-validatebox" /></td>
                    <td style="color:red">登录账号
                    </td>
                    <td>
                        <input id="loginName" name="loginName" class="easyui-validatebox" /></td>
                </tr>
                <tr style="height: 30px">
                    <td>登录密码</td>
                    <td>
                        <input id="Passwd" name="Passwd" type="password" style="width: 150px" /></td>
                    <td colspan="2">
                        <input id="PwdFlag" name="PwdFlag" type="checkbox" checked="checked" value="1" />本次设置密码</td>
                </tr>
                <tr style="height: 30px">
                    <td>工号</td>
                    <td>
                        <input id="WorkNO" name="WorkNO" /></td>
                    <td>账号状态</td>
                    <td>
                        <input id="UseFlag" name="UseFlag" /></td>
                </tr>
                <tr style="height: 30px">
                    <td>业务权限部门</td>
                    <td colspan="3">
                        <input id="pSrhDept" name="pSrhDept" style="width:80px" onblur="SrhBussDept();" /><input id="BussDeptID" name="BussDeptID" style="width:260px" /></td>
                </tr>
                <tr style="height: 30px">
                    <td colspan="4">备注：当所属岗位为“复用职位”时则必须选择业务权限部门。一般岗位无需选择。</td>
                </tr>
                <tr style="height: 30px">
                    <td colspan="4" style="text-align: center">
                        <input type="submit" value="确定" />
                        <input type="button" value="关闭" onclick="CloseDialog();" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>